.movie{
    text-align: center;
    background-color:#be6542 ;
    border: 1px solid gray;
    padding: 3px;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    padding-top: 10px;

}
