.movie{
    text-align: center;
    background-color:#be6542 ;
    border: 1px solid gray;
    padding: 3px;
    margin: 4px;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
    text-align: start;
    padding-top: 10px;
    width: 18%;

}

.movie img{
    height: 220px;
    width: 95%;
    margin-left: 7px;
}
